body {
    font-family: ibm-plex-sans, sans-serif;
    padding: 1rem;
    /* color.adobe.com RGB hex Farbe suchen */
    color: #000000;
    background-color: #ffffff;
    line-height: 140%;
    font-weight: 300;
}

/* alles ausblenden was man nicht sehen soll */
header {
    display: none
}

h1 {
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-size: var(--font-size-2xl)
}

p, h1, h2, h3, h4, h5, dd, li, figure {
    margin-bottom: 1rem;
}

p, dd, li, figcaption {
    hyphens: auto;
}