/* Infobox ------------------------------------ */

.infobox {

    background-color: #efefef;
    border-left: solid 0.2rem #d4af37;
    padding: 1rem;
    margin-bottom: 1rem;

    /* Can I use Tool zum checken der Brauchbarkeit von Features */
    /* CSS nesting -> h3 in infobox verschachtelt */

    h3 {
        font-weight: bold;
    }

    /* alternative Implementierung, greift NUR auf die erste h3 in der Infobox */
    /* h3:firstchild{
        font-weight: bold;
    } */

}

/* Bildunterschrift --------------------------------- */

.bildunterschrift {

    img {

        /* nimmt sich so viel Platz wie da ist */
        width: 100%;
        /* Bild jetzt nicht mehr inline Element = Abstand zwischen Bild und Caption geht weg */
        display: block;
    }

    figcaption {

        background-color: #efefef;
        padding: 0.5rem;
        font-size: 0.9rem;
        line-height: 130%;
    }
}

.bildunterschrift-horizontal {
    img {

        /* nimmt sich so viel Platz wie da ist */
        width: 100%;
        /* Bild jetzt nicht mehr inline Element = Abstand zwischen Bild und Caption geht weg */
        display: block;
        height: 100%;
        object-fit: cover;
        /* Bild füllt den Container aus */
    }

    figcaption {

        background-color: #efefef;
        padding: 0.5rem;
        font-size: 0.9rem;
        line-height: 130%;
        border-left: solid 0.2rem #d4af37;

        li {
            margin-left: 2rem;
            list-style: disc;
        }
    }
}



/* Ab ... soll ... passieren */
/* Ab 500 px soll ... passieren */
@media (min-width: 500px) {}


/* OPN --------------------------------------------- */

.onpagenavigation {

    ul {
        margin-top: var(--spacing-l);
        margin-bottom: var(--spacing-xl);
    }

    li {

        padding: var(--spacing-2xs);

        margin: 0;

        border-left: var(--border-width-m) solid var(--color-background-200);
        padding-left: var(--spacing-s);

        a {
            color: var(--color-text);
            text-decoration: none;
            opacity: 0.6;
        }

        &:hover {
            border-left-color: var(--color-primary-default);

            a {
                opacity: 1;
            }
        }
    }
}

/* Button
############################################################################# */
.button {
    background-color: var(--color-primary-default);
    padding: 0 var(--spacing-xs);
    border: none;
    color: #fff;
    font-size: var(--font-size-l);
    height: 38px;

    &:active {
        background-color: var(--color-primary-400);
    }
}