/* Infobox ------------------------------------ */

.infobox {
    padding: 1rem;
    border-left: solid 0.2rem #d4af37;
    margin-bottom: 1rem;
    background-color: #efefef;

    /* Can I use Tool zum checken der Brauchbarkeit von Features */

    /* CSS nesting -> h3 in infobox verschachtelt */

    h3 {
        font-weight: bold;
    }

    /* alternative Implementierung, greift NUR auf die erste h3 in der Infobox */

    /* h3:firstchild{
        font-weight: bold;
    } */

}

/* Bildunterschrift --------------------------------- */

.bildunterschrift {
    img {
        /* Bild jetzt nicht mehr inline Element = Abstand zwischen Bild und Caption geht weg */
        display: block;

        /* nimmt sich so viel Platz wie da ist */
        width: 100%;
    }

    figcaption {
        padding: 0.5rem;
        background-color: #efefef;
        font-size: 0.9rem;
        line-height: 130%;
    }
}

.bildunterschrift-horizontal {
    img {
        /* Bild jetzt nicht mehr inline Element = Abstand zwischen Bild und Caption geht weg */
        display: block;

        /* nimmt sich so viel Platz wie da ist */
        width: 100%;
        height: 100%;
        object-fit: cover;

        /* Bild füllt den Container aus */
    }

    figcaption {
        padding: 0.5rem;
        border-left: solid 0.2rem #d4af37;
        background-color: #efefef;
        font-size: 0.9rem;
        line-height: 130%;

        li {
            margin-left: 2rem;
            list-style: disc;
        }
    }
}



/* Ab ... soll ... passieren */

/* Ab 500 px soll ... passieren 
@media (width >= 500px) {}
*/

/* OPN --------------------------------------------- */

.onpagenavigation {
    ul {
        margin-top: var(--spacing-l);
        margin-bottom: var(--spacing-xl);
    }

    li {
        padding: var(--spacing-2xs);
        padding-left: var(--spacing-s);
        border-left: var(--border-width-m) solid var(--color-background-200);
        margin: 0;

        a {
            color: var(--color-text);
            opacity: 0.6;
            text-decoration: none;
        }

        &:hover {
            border-left-color: var(--color-primary-default);

            a {
                opacity: 1;
            }
        }
    }
}

/* Button
############################################################################# */
.button {
    height: 38px;
    padding: 0 var(--spacing-xs);
    border: none;
    background-color: var(--color-primary-default);
    color: #fff;
    font-size: var(--font-size-l);

    &:active {
        background-color: var(--color-primary-400);
    }
}