.header-search {
    padding: var(--spacing-3xl);
    background-color: var(--color-background-default);
    color: var(--color-text-default);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
}

.header-search-form input[type="text"] {
    padding: var(--spacing-m);
    border: var(--border-width-s) solid #ccc;
    border-radius: var(--spacing-xs);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-l);
    line-height: var(--line-height-normal);
} 

.header-search-submit {
    padding: var(--spacing-s) var(--spacing-l);
    border: none;
    background-color: var(--color-primary-default);
    color: var(--color-background-default);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    transition: background-color var(--transition-fast) ease-in-out;
}

.header-search-submit:hover {
    background-color: var(--color-seconadary-default);
} 


